<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yw.sports.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.yw.sports.pojo.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="condition_id" jdbcType="INTEGER" property="conditionId" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="reply_id" jdbcType="INTEGER" property="replyId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yw.sports.pojo.Comment">
    insert into comment (id, user_id, condition_id, 
      pid, reply_id, create_time, 
      content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{conditionId,jdbcType=INTEGER}, 
      #{pid,jdbcType=INTEGER}, #{replyId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yw.sports.pojo.Comment">
    update comment
    set user_id = #{userId,jdbcType=INTEGER},
      condition_id = #{conditionId,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      reply_id = #{replyId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, condition_id, pid, reply_id, create_time, content
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, condition_id, pid, reply_id, create_time, content
    from comment
  </select>

</mapper>