<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yw.sports.dao.ConditionMapper">
    <resultMap id="BaseResultMap" type="com.yw.sports.pojo.Condition">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="intor" jdbcType="VARCHAR" property="intor"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from condition
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.yw.sports.pojo.Condition">
    insert into `condition` (user_id, title,content)
    values (#{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},#{content})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.yw.sports.pojo.Condition">
    update condition
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      intor = #{intor,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, title, intor, content
    from condition
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, title, intor, content
    from condition
  </select>
    <select id="selectAllCondition" resultType="com.yw.sports.bean.responseBean.ConditionResponse">
        select c.id as id, c.content as content, c.title as title, ui.name as userName
        from `condition` c, user_info ui
        where c.user_id = ui.user_id
        ORDER BY c.id DESC
    </select>
    <select id="getConditionById" resultType="com.yw.sports.bean.responseBean.ConditionResponse">
        select c.id as id, c.content as content, c.title as title, ui.name as userName
        from `condition` c, user_info ui
        where c.user_id = ui.user_id
        and c.id = #{id}
    </select>
</mapper>