<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yw.sports.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.yw.sports.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="CHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="role" jdbcType="BIT" property="role" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yw.sports.pojo.User" useGeneratedKeys="true" keyProperty="id">
    insert into user (username, `password`,
      salt, `role`)
    values (#{username,jdbcType=CHAR}, #{password,jdbcType=VARCHAR},
      #{salt,jdbcType=VARCHAR}, #{role,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yw.sports.pojo.User">
    update user
    set username = #{username,jdbcType=CHAR},
      `password` = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      `role` = #{role,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, `password`, salt, `role`
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, `password`, salt, `role`
    from user
    where role = #{role}
  </select>
  <select id="findByName" resultMap="BaseResultMap">
    select *
    from user
    where username = #{name}
  </select>
  <select id="getCoaches" resultType="com.yw.sports.bean.responseBean.CoachesResponse">
    select u.id as id, ui.sex as sex, ui.name as name
    from user u
    left join user_info ui on u.id = ui.user_id
    where u.role = 2
    <if test="input != ''">
      and ui.name rlike #{input}
    </if>
    limit #{start}, #{size}
  </select>
  <select id="getCoacheNums" resultType="java.lang.Integer">
    select count(*)
    from user u
    left join user_info ui on u.id = ui.user_id
    where u.role = 2
    <if test="input != ''">
      and ui.name rlike #{input}
    </if>
  </select>
    <select id="getCoachById" resultMap="BaseResultMap">
      select u2.*
      from user u1,user_coach_relation, user u2
      where u1.id = user_coach_relation.user_id
      and user_coach_relation.coach_id = u2.id
      and u1.id = #{id}
    </select>
  <delete id="deleteCoach">
    delete from user_coach_relation
    where user_id = #{userId}
    and coach_id = #{id}
  </delete>
  <insert id="addCoach">
    insert into user_coach_relation(user_id, coach_id, create_time)
    VALUES (#{userId}, #{id}, now())
  </insert>
  <select id="getMyUsers" resultType="com.yw.sports.bean.responseBean.MyUsersResponse">


  </select>


</mapper>